@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: 'Fresh Cream';
  src: url("../fonts/Fresh_Cream.eot?") format("eot"), url("../fonts/Fresh_Cream.woff") format("woff"), url("../fonts/Fresh_Cream.ttf") format("truetype"), url("../fonts/Fresh_Cream.svg#FreshCream") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
}

.orange {
  color: #ffbe00;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  padding: 14px 32px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-orange {
  background-color: #ffbe00;
  color: #222222;
  transition: 0.3s;
}

.btn-orange:hover {
  background-color: #222222;
  color: #ffbe00;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}

.over-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.33%;
  height: 100%;
  background-color: black;
}

.over-2 {
  position: absolute;
  top: 0;
  left: 33.33%;
  width: 33.33%;
  height: 100%;
  background-color: black;
}

.over-3 {
  position: absolute;
  top: 0;
  left: 66.66%;
  width: 33.33%;
  height: 100%;
  background-color: black;
}

.section__header {
  max-width: 892px;
  margin: 0 auto;
  text-align: center;
}

.section__title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 35px;
  font-family: "Fresh Cream";
  font-size: 36px;
  font-weight: 400;
  color: #222222;
}

.section__description {
  padding-bottom: 90px;
  font-size: 16px;
  color: #9e9e9e;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.header {
  padding-top: 48px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block--right {
  display: flex;
}

.header__nav {
  margin-right: 140px;
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__name {
  padding-top: 15px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #ffbe00;
}

.nav__menu {
  display: flex;
}

.nav__item {
  margin-right: 46px;
}

.nav__item:last-child {
  margin: 0;
}

.nav__link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #222222;
  transition: 0.3s;
}

.nav__link:hover {
  color: #ffbe00;
}

.nav__dropdown::before {
  content: "";
  position: absolute;
  right: -20px;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-left: 2px solid #222222;
  border-bottom: 2px solid #222222;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.nav__dropdown:hover::before {
  border-color: #ffbe00;
}

.cart {
  margin-left: 30px;
  position: relative;
}

.cart__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 12px;
  height: 12px;
  color: #fff;
  background-color: #ff0303;
  font-size: 7px;
  border-radius: 50%;
  transform: translateX(50%);
}

.hero .container {
  min-height: 900px;
}

.hero__row {
  position: relative;
  z-index: 1;
  display: flex !important;
  padding-top: 120px;
}

.hero__title {
  font-family: "Fresh Cream";
  font-size: 64px;
  font-weight: 700;
  line-height: 110px;
}

.hero__description {
  margin: 50px 0 115px;
  font-size: 18px;
  color: #9e9e9e;
}

.hero__label {
  margin-left: 18px;
}

.hero__label input {
  font-weight: 600;
  font-size: 16px;
  padding: 14px 50px 14px 25px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #efefef;
  color: #9e9e9e;
}

.hero__search {
  margin-left: -50px;
}

.hero__courier {
  margin-top: -75px;
  max-width: 675px;
}

.hero__mint {
  position: absolute !important;
  left: auto !important;
  top: auto !important;
  bottom: -50vh !important;
  right: 50% !important;
  z-index: -1 !important;
}

.hero__mint--small {
  position: absolute !important;
  left: 50% !important;
  top: 25% !important;
  z-index: -1 !important;
}

.hero__pepper {
  position: absolute !important;
  left: -10% !important;
  top: 0% !important;
  z-index: -3 !important;
  transform: translateX(-50%);
}

.categories {
  position: relative;
}

.categories::before {
  content: "";
  position: absolute;
  top: 400px;
  right: 0;
  bottom: auto;
  left: auto;
  width: 100%;
  min-height: 830px;
  background-color: #efefef;
  z-index: -1;
}

.categories__header {
  margin-top: 190px;
  max-width: 825px;
}

.categories__title {
  font-family: "Fresh Cream";
  font-size: 36px;
  font-weight: 400;
  color: #222222;
}

.categories__description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 50px 0 100px;
  color: #707070;
}

.categories__row {
  margin: 0 -15px;
}

.categories__item {
  padding: 0 15px;
  position: relative;
  transition: 0.3s;
}

.categories__item img {
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  transition: 0.3s;
}

.categories__item:hover {
  margin-top: -20px;
}

.categories__item:hover img {
  box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.3);
}

.categories__item:hover .categories__link {
  background-color: #222222;
}

.categories__item:hover .categories__type {
  color: #fff;
}

.categories__item:hover .categories__arrow {
  background-color: #ffbe00;
}

.categories__item:hover .categories__arrow svg {
  fill: #fff;
}

.categories__item:hover .categories__text {
  color: rgba(255, 255, 255, 0.5);
}

.categories__link {
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 10%;
  left: auto;
  padding: 20px 40px;
  background-color: #ffbe00;
  min-width: 455px;
  border-radius: 16px;
  transition: 0.3s;
  overflow: hidden;
  transform: translateX(50%);
}

.categories__link.is-active {
  animation: 0.6s link 1.2s forwards;
}

.categories__link.is-backward {
  animation: 0.6s linkBackward 0s forwards;
}

.categories__link.is-active::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ffbe00;
  animation: 2s beforeOrange 0.3s forwards;
}

.categories__link.is-backward::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffbe00;
  animation: 2s beforeOrangeBackwards 0s forwards;
}

.categories__type {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #222222;
  transition: 0.3s;
}

.categories__arrow {
  display: inline-flex;
  background-color: #fff;
  padding: 25px 35px;
  border-radius: 16px;
  transition: 0.3s;
  height: 100%;
  max-height: 75px;
}

.categories__arrow svg {
  fill: #222222;
  transition: 0.3s;
}

.categories__arrow.is-active {
  position: absolute;
  top: 0;
  right: 7px;
  bottom: auto;
  left: auto;
  transform: rotate(180deg);
  animation: 1.2s arrow 0.4s forwards;
}

.categories__arrow.is-backward {
  position: absolute;
  top: 0;
  right: 80%;
  bottom: auto;
  left: auto;
  transform: rotate(270deg);
  animation: 1s arrowBackward 0s forwards;
}

.categories__text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0px;
  color: #222222;
  transition: 0.3s;
}

.categories__checkout {
  position: absolute;
  top: 67%;
  right: 50%;
  bottom: auto;
  left: auto;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  color: #222222;
  padding: 10px 30px;
  border-radius: 30px;
  transform: translateX(50%);
  transition: 0.3s;
  border: 2px solid transparent;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transition: 0.3;
  transition-delay: 0.01s;
}

.categories__checkout:hover {
  background-color: #222222;
  color: #fff;
  border: 2px solid #fff;
}

.categories__checkout.is-active {
  transition-delay: 2s;
  opacity: 1;
  visibility: visible;
}

@keyframes arrow {
  0% {
    right: 7px;
    transform: rotate(180deg);
  }
  25% {
    right: -7px;
    transform: rotate(180deg);
  }
  50% {
    right: 80.6%;
    transform: rotate(180deg);
  }
  75% {
    right: 80.6%;
    transform: rotate(270deg);
  }
  100% {
    right: 80.6%;
    transform: rotate(270deg);
    background-color: transparent;
  }
}

@keyframes arrowBackward {
  0% {
    right: 80.6%;
    transform: rotate(270deg);
    background-color: transparent;
  }
  25% {
    right: 80.6%;
    transform: rotate(270deg);
  }
  50% {
    right: 80.6%;
    transform: rotate(180deg);
  }
  75% {
    right: -7px;
    transform: rotate(180deg);
  }
  100% {
    right: 7px;
    transform: rotate(180deg);
  }
}

@keyframes beforeOrange {
  0% {
    width: 0%;
  }
  25% {
    height: 100%;
  }
  50% {
    width: 100%;
    top: 0;
  }
  75% {
    width: 100%;
    top: 0;
  }
  100% {
    width: 100%;
    top: -101%;
  }
}

@keyframes beforeOrangeBackwards {
  0% {
    width: 100%;
    top: -101%;
  }
  25% {
    width: 100%;
    top: 0;
  }
  50% {
    width: 100%;
    top: 0;
  }
  75% {
    height: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes link {
  0% {
    height: 74px;
  }
  100% {
    text-align: center;
    height: 80%;
  }
}

@keyframes linkBackward {
  0% {
    height: 80%;
    text-align: center;
  }
  50% {
    height: 80%;
  }
  100% {
    height: 75px;
  }
}

.services {
  padding-top: 115px;
  text-align: center;
}

.services__row {
  margin: -18px;
}

.services__item {
  transition: 0.3s;
  cursor: pointer;
  margin: 18px;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  padding: 50px 34px;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
}

.services img {
  padding: 10px 10px;
  border: 2px solid #9e9e9e;
  border-radius: 20px;
  width: 130px;
  height: 95px;
}

.services__title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

.services__description {
  font-size: 16px;
  color: #9e9e9e;
}

.services__item:hover {
  margin-top: -5px;
  background-color: #ffbe00;
  color: white;
  box-shadow: 0 8px 14px 0 #ffbe00;
}

.services__item:hover p {
  color: white;
}

.services__item:hover img {
  border-color: white;
}

.sort {
  padding-top: 240px;
  padding-bottom: 240px;
}

.sort__filter {
  justify-content: center;
}

.sort .filter__items {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  margin-left: 65px;
  color: #707070;
  cursor: pointer;
}

.sort .filter__items:nth-child(1) {
  margin: 0;
}

.sort .filter__items--active {
  position: relative;
  color: #ffbe00;
  transition: 0.3s;
}

.sort .filter__items--active::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 12px;
  background: url("../images/triangle.svg");
  animation: triangle 0.3s forwards ease-in-out;
}

.sort__row {
  padding-top: 105px;
}

.sort__info {
  padding: 50px 15px 0;
}

.sort__picture {
  width: 100%;
}

.sort__title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  color: #222222;
}

.sort__price {
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 500;
  color: #ffbe00;
}

.sort__description {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0 10px;
  color: #707070;
}

@keyframes triangle {
  0% {
    bottom: -22px;
    opacity: 0;
  }
  50% {
    bottom: -8px;
    opacity: 0.5;
  }
  100% {
    bottom: -12px;
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */