/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: 'Fresh Cream';
  src: url('../fonts/Fresh_Cream.eot?') format('eot'), url('../fonts/Fresh_Cream.woff') format('woff'),
    url('../fonts/Fresh_Cream.ttf') format('truetype'), url('../fonts/Fresh_Cream.svg#FreshCream') format('svg');
  font-weight: normal;
  font-style: normal;
}
