@mixin font($family, $size, $weight: 400) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
}

@mixin position($pos, $top, $right:auto, $bottom: auto, $left: auto) {
	position: $pos;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
