$color-orange: #ffbe00;
$color-black: #222222;
$color-gray: #efefef;
$color-darkGray: #9e9e9e;
$color-spaceGray: #707070;
$color-white: #fff;

// fonts
$font-cream: "Fresh Cream";
$font-poppins: "Poppins", sans-serif;
