* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
}
