@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import "./variables";
@import "./base";
@import "./fonts";
@import "./mixins";
@import "./columns";
@import "./components/header";
@import "./components/hero";
@import "./components/categories";
